
/* DESTINOS */

.destinosBanner{
    background-image: url(../media/bannerDestinos.png);
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        font-size: 4rem;
        text-shadow: -1px -1px 11px rgba(184, 188, 185, 0.535);
        padding: 10px;
        background-color:rgba(245, 245, 245, 0.305);
        font-weight: 650;
    }


}

.destinos{
    h3{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.55rem;
        color: #01274a;
        margin-bottom: 15px;
        font-weight: 650;
    }
    
    img{
        border-radius: 10px;
        box-shadow: -0px 0px 17px -2px rgba(0, 0, 0, 0.388);
    }

    .grid-container-destinos{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        column-gap: 30px;
        row-gap: 45px;
        margin: 40px 45px 65px 45px;
       

        /* Destinos flexbox */

        .destino1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                width: 100%;
                height: 100%;
            }
            
        }

        .destino2{
            @extend .destino1;
            img{
                width: 100%;
                height: 100%;
            }
        }

        .destino3{
            @extend .destino1;
            img{
                width: 100%;
                height: 100%;
            }
        }

        .destino4{
            @extend .destino1;
            img{
                width: 100%;
                height: 100%;
            }
        }

        .destino5{
            @extend .destino1;
            img{
                width: 100%;
                height: 100%;
            }
        }

        .destino6{
           @extend .destino1;
           img{
            width: 100%;
            height: 100%;
        }
        }
    }
}