
/* Header */

header{
    background-color: $celeste;  
    position: sticky;
    top: 0px;
    box-shadow: 0px 5px 27px -11px rgba(0,0,0,0.62);

    /* Logo de la empresa */
    .navbar-brand{
    img{
        width: 100px;
        margin-left: 20px;
        transition: 0.6s;

        &:hover{
            transform: scale(1.15);
        }
    }

    
    }

    /* Icono toggler */
    .navbar-toggler{
        border: none;

         &:hover{
            box-shadow: none;
        }
    }

   

    .collapse{
        margin-right: 20px;
        .nav-item{
            font-size: 1.15rem;
            font-weight: 635;
            .nav-link:hover{
                color: rgb(222, 239, 248);
                
            }
        }
    }
 }



 /* Banner */

 .banner{
    background-image: url(../media/bannerIndex.jpg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p{
        font-size: 1.5rem;
        text-shadow: 0px 0px 5px rgb(239, 239, 239);
        background-color: rgba(249, 249, 249, 0.37),;
        padding: 5px 15px;
        border-radius: 50px;
        box-shadow: 0px 0px 10px -1px rgba(164, 164, 164, 0.532);;
    }
}


/* CARDS */

.card{
    margin: 20px;
    box-shadow: 0px 0px 17px -4px rgba(0,0,0,0.57);
    position:static;

    h3{
        font-size: 1.35rem;
    }
}

/* Footer */

footer{
    background-color: $celeste;
    margin-top: 20px;

    p{
        font-weight: 600;
        font-size: 1.1rem;
    }

    .grid-container-footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "copy   redes   sucursal"
        ;
    }

    .copyright{
        grid-area: copy;

        img{
            width: 250px;
            padding: 20px;
        }
        
        p{
            margin-left: 20px;
        }
    }

    .redes{
        grid-area: redes;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img{
            width: 70px;
            transition: 0.4s;

            &:hover{
                scale:1.15;  
            }
        }
        
       
    }

    .direccion{
        grid-area: sucursal;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        img{
            width: 25px;
            margin-right: 7px;
        }
        
        p{
            margin: 0px;
        }

        iframe{
            width: 300px;
            height: 150px;
            margin: 20px;
            border-radius: 7px;
            box-shadow: -0px 0px 17px -6px rgba(0, 0, 0, 0.388);
        }

        
        .pin{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }
}