/* Selector Universal */
*{
    margin: 0px;
    padding: 0px;
}


/* Text */

p{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 5.5rem;
    color: #01274a;
    font-weight: 600;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem; 
    color: #01274a;
    font-weight: 650;
    margin-top: 20px;
    margin-left: 20px;
}