/* Selector Universal */
*{
    margin: 0px;
    padding: 0px;
}


/* Text */

p{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 5.5rem;
    color: #01274a;
    font-weight: 600;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem; 
    color: #01274a;
    font-weight: 650;
    margin-top: 20px;
    margin-left: 20px;
}


/* INDEX */

/* Logo de la empresa */
.navbar-brand img{
    width: 100px;
    margin-left: 20px;
    transition: 0.6s;
}

.navbar-brand img:hover{
    scale: 1.15;
}

/* Header */

header{
   background-color: #4a9ae6;  
   position: sticky;
   top: 0px;
   box-shadow: 0px 5px 27px -11px rgba(0,0,0,0.62);
}

.nav-item{
    font-size: 1.15rem;
    font-weight: 635;
}

.nav-link:hover{
    color: rgb(222, 239, 248);
    
}

.collapse{
    margin-right: 20px;
}

/* Icono toggler */
.navbar-toggler{
    border: none;
    
}

.navbar-toggler:hover{
    box-shadow: none;
    
}


/* Banner */
.banner p{
    font-size: 1.5rem;
}

.banner{
    background-image: url(../media/bannerIndex.jpg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* CARDS */
.card{
    margin: 20px;
    box-shadow: 0px 0px 17px -3px rgba(0,0,0,0.57);
    position:static;
}

.card h3{
    font-size: 1.35rem;
}


/* Footer */

footer{
    background-color: #4a9ae6;
    margin-top: 20px;
}

footer p{
    font-weight: 600;
}



.grid-container-footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "copy   redes   sucursal"
    ;
}


.copyright img{
    width: 250px;
    padding: 20px;
}

.copyright p{
    margin-left: 20px;
}

.copyright{
    grid-area: copy;
}

.redes img{
    width: 70px;
    transition: 0.4s;
}

.redes img:hover{
    scale:1.15;  
}

.redes{
    grid-area: redes;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.direccion img{
    width: 25px;
    margin-right: 7px;
}

.direccion p{
    margin: 0px;
}

.direccion{
    grid-area: sucursal;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.pin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.direccion iframe{
    width: 300px;
    height: 150px;
    margin: 20px;
}


/* DESTINOS */

.destinosBanner{
    background-image: url(../media/bannerDestinos.png);
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.destinosBanner h1{
    font-size: 4rem;
    text-shadow: -1px -1px 11px rgba(184, 188, 185, 0.535);
    padding: 10px;
    background-color:rgba(245, 245, 245, 0.305);
}

.destinos h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.55rem;
    color: #01274a;
    margin-bottom: 15px;
    font-weight: 650;
}

.destinos img{
    border-radius: 10px;
    box-shadow: -0px 0px 17px -2px rgba(0, 0, 0, 0.388);
}


.grid-container-destinos{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    column-gap: 30px;
    row-gap: 45px;
    margin: 40px 45px 65px 45px;
}



/* Destinos flexbox */

.destino1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}

.destino2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.destino3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.destino4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.destino5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.destino6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Imágenes de c/u de los destinos */

.destino1 img{
    width: 100%;
    height: 100%;
}

.destino2 img{
    width: 100%;
    height: 100%;
}

.destino3 img{
    width: 100%;
    height: 100%;
}

.destino4 img{
    width: 100%;
    height: 100%;
}

.destino5 img{
    width: 100%;
    height: 100%;
}

.destino6 img{
    width: 100%;
    height: 100%;
}




/* CONTACTO */

.contact{
    margin: 30px 30px;
}

.sucursal h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    color: #01274a;

}

label{
    font-family: 'Montserrat', sans-serif;
}

form{
    margin-left: 30px;
}



/* SOBRE NOSOTROS */

.heroImg img{
    width: 600px;
    margin: 7px;
    border-radius: 7px;
}

/* Hero */
.hero{
    display: flex;
    justify-content: space-evenly;
}




/* Preguntas */

.pregs{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 60px;
    
}

.pregs h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    color: #01274a;
    text-align: left;
    margin: 40px 0;
}

.pregs h1{
    margin: 30px 0px;
    text-align: center;
    font-size: 3.5rem;
}

.pregs div{
   background-color: #4a9be677;
   padding: 25px;
   border-radius: 7px;
}

/* Valores */

.valores h3{
    margin-top: 15px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 625;
    color: #01274a;
}


.valores img{
    width: 25%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.valores h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    color: #01274a;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
}

.vectores{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.vectores div{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
    box-shadow: 0px 0px 27px -8px rgba(0,0,0,0.55);
    border-radius: 13px 13px 13px 13px;
    border: 3px solid #4a9ae6;
}



/* EXPERIENCIAS */
.exp-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem; 
    color: #01274a;
    font-weight: 650;
    text-align: center; 
    margin-top: 30px;
    margin-bottom: 30px;
}


.experiencias img{
    width: 40px;
    padding: 4px;
    border: 3px solid rgba(113, 190, 232, 0.774);
    border-radius: 20px;
    margin-right: 11px;
}

.experiencias i{
    font-family: 'Montserrat', sans-serif;
    color: gray;
    font-size: 0.8rem;
}

.persona1{
    margin:  30px;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "cuenta reseña"
    ". reseña";
}

.avatar{
    grid-area: "cuenta";
    
}

.opinion{
    grid-area: "reseña";
    background-color: rgba(83, 212, 248, 0.235);
    border-radius: 10px;
    box-shadow: -1px 0px 27px -10px rgba(0,0,0,0.38);
    padding: 10px;
}


.persona2{
    margin:  30px;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "cuenta cuenta"
    ". cuenta";
    
}

.persona3{  
    margin:  30px;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "cuenta reseña"
    ". reseña";
}



/* MEDIA QUERYS */

/* Movil */
@media screen and (max-width: 576px){

    /* INDEX */

    /* Footer */
    .grid-container-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .direccion{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .redes{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .pin{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    /* DESTINOS */
    .grid-container-destinos{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    /* SOBRE NOSOTROS */
    .valores{
        margin: 10px;
    }

    .heroImg{
        display: none;
    }


    
}
